<!doctype html>
<html ng-app="pokedexApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script src="../app.js"></script>
    <script src="../controllers/main-controller.js"></script>
    <script src="../services/pokedexService.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-controller = "MainController">
    <div>
        <label>Name:</label>
        <input type="text" ng-model="name" placeholder="Enter your name here">
        <hr>
        <h1>Hello {{ miVariable }}!</h1>
    </div>
</body>

</html>
